# Database
DATABASE_URL="postgresql://orvana_user:orvana_pass@localhost:5432/orvana_db?schema=public"

# Backend
PORT=3000
NODE_ENV=development
JWT_ACCESS_SECRET="super-secret-jwt-access-key-change-in-production-min-32-chars"
JWT_REFRESH_SECRET="super-secret-jwt-refresh-key-change-in-production-min-32-chars"
UPLOAD_DIR="uploads"
FRONTEND_URL="http://localhost:5173"

# Frontend (Vite)
VITE_API_URL="http://localhost:3000/api/v1"
